.idea/
/shelf/
/workspace.xml
/NTUSER.DAT{1627d0ac-a3d0-11eb-804d-b1642606d113}.TMContainer00000000000000000001.regtrans-ms
        /OneDrive/
        /Saved Games/
        /Searches/
        /Videos/
        /ntuser.dat.LOG1
        /ntuser.dat.LOG2
        /ntuser.ini
